.SimpleI {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #0e0e0e;
  }
  .container{
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #FAF9FA;
    max-width: max-content;
    padding: 40px;
    flex-wrap: wrap;
    margin: auto;
    gap: 30px;
  }
  .mix-chart{
    margin: auto;
     
  }
   
   .container-1{
    margin: auto;
   }
   
  .heading_text
  {
    margin-bottom: 10px;
    font-size: 10px;
    font-weight: 400;
  }
  .heading_two
  {
    color: #587fff;
    font-size:16px;
    text-decoration: none;
    list-style: none;
    margin-bottom: 10px;
    
  }
  .total_amount_card
  {
    width: 445px;
    height: 100px;
    background-color: #587fff;
     margin: auto;
     
  }
  .card_text {
    color: white;
  }
  .total_amount_heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 800;
    margin: auto;
  }
  .total_amount_para {
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
    color: white;
  }
  .input_field
  {
    margin-top: 12px;
     
  }
  .input_area
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
  }
  .select{
    width: 200px;
  }
  #outlined-basic {
    margin: auto;
    width: 410px;
  }
   
  .button_collection
  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    margin-bottom: 1rem;
  }
  .btn_one {
    background-color: #1F1F1F;
    width: 200px;
    height: 50px;
   
  }
  @media screen and (max-width:556px) {
    #outlined-basic {
      width: 360px;
    }
    .total_amount_card
    {
      width: 400px;
      height: 100px;
      background-color: #587fff;
       
       
    }
     
    .btn_one {
       
      width: 150px;
      height: 50px;
     
    }
    .select{
      width: 200px;
    }
   }
   
 @media screen and (max-width:464px) {
  #outlined-basic {
    width: 300px;
  }
  .total_amount_card
  {
    width: 320px;
    height: 100px;
    background-color: #587fff;
     
     
  }
   
  .btn_one {
     
    width: 120px;
    height: 50px;
   
  }
  .select{
    width: 200px;
  }
 }
  